\documentclass[a4paper]{article}
\usepackage[T1]{fontenc}
% \usepackage[absolute,noshowtext,showboxes]{textpos}
\usepackage{xeCJK}
\setCJKmainfont{WenQuanYi Zen Hei}
\usepackage{color}
\usepackage[absolute,showboxes]{textpos}
% \textblockorigin{-0.02cm}{0.07cm} %HPDeskJet5160
% \textblockorigin{0.00cm}{0.00cm} %HPDeskJet5160
\textblockorigin{0.00cm}{0.03cm} %HPDeskJet5160
\textblockorigin{0.05cm}{0.13cm} %HPDeskJet5160
% \textblockorigin{0.00cm}{0.00cm} %HPLaserJet5000LE
\usepackage{texdraw}
\pagestyle{empty}
\setlength{\unitlength}{1cm}

\newcommand{\my<TMPL>$topic</TMPL><TMPL>$form</TMPL>Identifier}[0]{
<TMPL>$identifier</TMPL>
}

\newcommand{\my<TMPL>$topic</TMPL><TMPL>$form</TMPL>Acontent}[0]{
<TMPL>$A</TMPL>
}

\newcommand{\my<TMPL>$topic</TMPL><TMPL>$form</TMPL>Bcontent}[0]{
<TMPL>$B</TMPL>
}

\newcommand{\my<TMPL>$topic</TMPL><TMPL>$form</TMPL>Ccontent}[0]{
<TMPL>$C</TMPL>
}

% \newcommand{\myDcontent}[0]{
% <TMPL>$D</TMPL>
% }

\newcommand{\mycard}[5]{%
	\vspace{0.3cm}
	\small #1 #2
	\vspace{-0.2cm}
	\par
	\parbox[t][6.7cm][c]{9.5cm}{%
	\hspace{0.1cm} \Large#3\\
	\normalsize#4 #5
	}
}

\begin{document}
\fontfamily{hlst}\fontseries{b}\fontshape{n}\selectfont
% \begin{picture}(15,20)(+4.8,-22.05)
% \begin{tabular}[t]{*{2}{|p{10.05cm}}|}

\begin{textblock}{8}(0,0)
\textblocklabel{picture1}
\mycard{}{\my<TMPL>$topic</TMPL><TMPL>$form</TMPL>Identifier}{\parbox{9.0cm}{A:
\my<TMPL>$topic</TMPL><TMPL>$form</TMPL>Acontent
}}{}{} 
\end{textblock}

\null
\newpage

\begin{textblock}{8}(0,0)
\textblocklabel{picture2}
\mycard{}{\my<TMPL>$topic</TMPL><TMPL>$form</TMPL>Identifier}{\parbox{9.0cm}{B:
\my<TMPL>$topic</TMPL><TMPL>$form</TMPL>Bcontent
}}{}{} 
\end{textblock}

\null
\newpage

\begin{textblock}{8}(0,0)
\textblocklabel{picture3}
\mycard{}{\my<TMPL>$topic</TMPL><TMPL>$form</TMPL>Identifier}{\parbox{9.0cm}{C:
\my<TMPL>$topic</TMPL><TMPL>$form</TMPL>Ccontent
}}{}{} 
\end{textblock}

\null
\newpage

\begin{textblock}{8}(0,0)
\textblocklabel{picture5}
\mycard{}{\my<TMPL>$topic</TMPL><TMPL>$form</TMPL>Identifier}{\parbox{9.0cm}{A:
\my<TMPL>$topic</TMPL><TMPL>$form</TMPL>Acontent
}}{}{} 
\end{textblock}

\begin{textblock}{8}(8,0)
\textblocklabel{picture6}
\mycard{}{\my<TMPL>$topic</TMPL><TMPL>$form</TMPL>Identifier}{\parbox{9.0cm}{B:
\my<TMPL>$topic</TMPL><TMPL>$form</TMPL>Bcontent
}}{}{} 
\end{textblock}

\begin{textblock}{8}(0,4)
\textblocklabel{picture7}
\mycard{}{\my<TMPL>$topic</TMPL><TMPL>$form</TMPL>Identifier}{\parbox{9.0cm}{C:
\my<TMPL>$topic</TMPL><TMPL>$form</TMPL>Ccontent
}}{}{} 
\end{textblock}

% \begin{textblock}{8}(8,4)
% \textblocklabel{picture7}
% \mycard{}{\my<TMPL>$topic</TMPL><TMPL>$form</TMPL>Identifier}{\parbox{9.0cm}{D:
% \myDcontent
% }}{}{} 
% \end{textblock}

\end{document}


