<html>
<head>
<title>Exam 3!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script>
function navigate(e) {
    var keynum = (window.event) // IE
        ? e.keyCode
        : e.which;
    if (keynum == 13 || keynum == 32) {
        window.location = "001.html";
        return false;
    }
    return true;
}
</script>
<style>
body {
    font-family: sans-serif;
}
h4 {
    color: #888;
}
</style>
</head>
<body>
<h1>Thanksgiving and Eating!</h1 >
<h2>Martha's Vineyard</h2 >
<ul>
<li>1. <a href="cronig_1_1.mp3">Martha's Vineyard Question 1</a></li>
<li>2. <a href="cronig_1_2.mp3">Martha's Vineyard Question 2</a></li>
<li>3. <a href="cronig_1_3.mp3">Martha's Vineyard Question 3</a></li>
</ul>
<h2>Thanksgiving and Christmas</h2>
<ul>
<li>1. <a href="macaulay_1_1.mp3">Thanksgiving/Christmas Question 4</a></li>
<li>2. <a href="macaulay_1_2.mp3">Thanksgiving/Christmas Question 5</a></li>
<li>3. <a href="macaulay_1_3.mp3">Thanksgiving/Christmas Question 6</a></li>
</ul>
<h2>Eating disorders</h2 >
<ul>
<li>5. <a href="douglas_1_1.mp3">Interest Groups Question 7</a></li>
<li>6. <a href="douglas_1_2.mp3">Interest Groups Question 8</a></li>
<li>7. <a href="douglas_1_3.mp3">Interest Groups Question 9</a></li>
</ul>
</p>
</body>
